@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&amp;family=PT+Mono&amp;display=fallback);

/* @font-face {
    font-family: Aspekta;
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
    src: url('fonts/Aspekta-500.woff2') format('woff2')
}

@font-face {
    font-family: Aspekta;
    font-weight: 650;
    font-style: normal;
    font-display: fallback;
    src: url('fonts/Aspekta-650.woff2') format('woff2')
} */

*,
::after,
::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    justify-content: center
}

::after,
::before {
    --tw-content: ''
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
pre,
samp {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

t_quote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
    margin: 0
}

fieldset {
    margin: 0;
    padding: 0
}

legend {
    padding: 0
}

menu,
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

[role=button],
button {
    cursor: pointer
}

:disabled {
    cursor: default
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle
}

img,
video {
    max-width: 100%;
    height: auto
}

[multiple],
[type=date],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0;
    padding-top: .5rem;
    padding-right: .75rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000
}

[multiple]:focus,
[type=date]:focus,
[type=datetime-local]:focus,
[type=email]:focus,
[type=month]:focus,
[type=number]:focus,
[type=password]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=time]:focus,
[type=url]:focus,
[type=week]:focus,
select:focus,
textarea:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    border-color: #2563eb
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #6b7280;
    opacity: 1
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #6b7280;
    opacity: 1
}

input::placeholder,
textarea::placeholder {
    color: #6b7280;
    opacity: 1
}

::-webkit-datetime-edit-fields-wrapper {
    padding: 0
}

::-webkit-date-and-time-value {
    min-height: 1.5em
}

::-webkit-datetime-edit,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-meridiem-field,
::-webkit-datetime-edit-millisecond-field,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-second-field,
::-webkit-datetime-edit-year-field {
    padding-top: 0;
    padding-bottom: 0
}

select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right .5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact
}

[multiple] {
    background-image: initial;
    background-position: initial;
    background-repeat: unset;
    background-size: initial;
    padding-right: .75rem;
    -webkit-print-color-adjust: unset;
    print-color-adjust: unset
}

[type=checkbox],
[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: #2563eb;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    --tw-shadow: 0 0 #0000
}

[type=checkbox] {
    border-radius: 0
}

[type=radio] {
    border-radius: 100%
}

[type=checkbox]:focus,
[type=radio]:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow)
}

[type=checkbox]:checked,
[type=radio]:checked {
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat
}

[type=checkbox]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e")
}

[type=radio]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e")
}

[type=checkbox]:checked:focus,
[type=checkbox]:checked:hover,
[type=radio]:checked:focus,
[type=radio]:checked:hover {
    border-color: transparent;
    background-color: currentColor
}

[type=checkbox]:indeterminate {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat
}

[type=checkbox]:indeterminate:focus,
[type=checkbox]:indeterminate:hover {
    border-color: transparent;
    background-color: currentColor
}

[type=file] {
    background: unset;
    border-color: inherit;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-size: unset;
    line-height: inherit
}

[type=file]:focus {
    outline: 1px auto -webkit-focus-ring-color
}

*,
::after,
::before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::-webkit-backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

.h1 {
    font-size: 2.25rem;
    line-height: 1.277;
    letter-spacing: -.01em;
    font-weight: 650
}

.h2 {
    font-size: 1.5rem;
    line-height: 1.415;
    letter-spacing: -.01em;
    font-weight: 650
}

.h3 {
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: -.01em;
    font-weight: 650
}

.h4 {
    font-size: 1.125rem;
    line-height: 1.5;
    letter-spacing: -.01em;
    font-weight: 650
}

@media (min-width:768px) {
    .h1 {
        font-size: 3rem;
        line-height: 1;
        letter-spacing: -.01em
    }

    .h2 {
        font-size: 1.875rem;
        line-height: 1.333;
        letter-spacing: -.01em
    }

    .h3 {
        font-size: 1.5rem;
        line-height: 1.415;
        letter-spacing: -.01em
    }
}

.t,
.n {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 9999px;
    font-family: Aspekta, sans-serif;
    font-size: .875rem;
    line-height: 1.5715;
    font-weight: 500;
    line-height: 1.25rem;
    transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.t {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem
}

.n {
    padding-left: .75rem;
    padding-right: .75rem;
    padding-top: .375rem;
    padding-bottom: .375rem
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none
}

.r,
.i,
.s,
.o,
.u,
.a {
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(241 245 249 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 249 / var(--tw-bg-opacity))
}

.r:focus,
.i:focus,
.s:focus,
.o:focus,
.u:focus,
.a:focus {
    --tw-border-opacity: 1;
    border-color: rgb(14 165 233 / var(--tw-border-opacity))
}

.dark .r,
.dark .i,
.dark .s,
.dark .o,
.dark .u,
.dark .a {
    --tw-border-opacity: 1;
    border-color: rgb(51 65 85 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(51 65 85 / var(--tw-bg-opacity))
}

.dark .r:focus,
.dark .i:focus,
.dark .s:focus,
.dark .o:focus,
.dark .u:focus,
.dark .a:focus {
    --tw-border-opacity: 1;
    border-color: rgb(14 165 233 / var(--tw-border-opacity))
}

.i,
.s,
.u,
.a {
    border-radius: 9999px;
    padding-left: .75rem;
    padding-right: .75rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: .875rem;
    line-height: 1.5715
}

.i::-moz-placeholder,
.a::-moz-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(148 163 184 / var(--tw-placeholder-opacity))
}

.i:-ms-input-placeholder,
.a:-ms-input-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(148 163 184 / var(--tw-placeholder-opacity))
}

.i::placeholder,
.a::placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(148 163 184 / var(--tw-placeholder-opacity))
}

.dark .i::-moz-placeholder,
.dark .a::-moz-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(100 116 139 / var(--tw-placeholder-opacity))
}

.dark .i:-ms-input-placeholder,
.dark .a:-ms-input-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(100 116 139 / var(--tw-placeholder-opacity))
}

.dark .i::placeholder,
.dark .a::placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(100 116 139 / var(--tw-placeholder-opacity))
}

.u {
    padding-right: 2.5rem
}

.r,
.o {
    border-radius: .125rem;
    border-width: 2px;
    --tw-text-opacity: 1;
    color: rgb(14 165 233 / var(--tw-text-opacity))
}

.f::-webkit-scrollbar {
    display: none
}

.f {
    -ms-overflow-style: none;
    scrollbar-width: none
}

:root {
    --range-thumb-size: 36px
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #ccc;
    border-radius: 3px;
    height: 6px;
    margin-top: (--range-thumb-size - 6px) * .5;
    margin-bottom: (--range-thumb-size - 6px) * .5;

    --thumb-size: {}

    ;
}

input[type=range]::-moz-range-thumb {
    background-color: #000;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 .5v7L12 4zM0 4l4 3.5v-7z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: --range-thumb-size;
    width: --range-thumb-size
}

input[type=range]::-ms-thumb {
    background-color: #000;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 .5v7L12 4zM0 4l4 3.5v-7z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: --range-thumb-size;
    width: --range-thumb-size
}

input[type=range]::-moz-focus-outer {
    border: 0
}

.exact-active-link {
    width: 100%;
    --tw-text-opacity: 1;
    height: 1.5rem;
    display: flex;
    align-items: center;
    position: relative;
    color: rgb(14 165 233 / var(--tw-text-opacity));

}

.exact-active-link::after {
    content: var(--tw-content);
    position: absolute;
    content: var(--tw-content);
    width: .125rem;
    content: var(--tw-content);
    right: 0;
    content: var(--tw-content);
    top: 0;
    content: var(--tw-content);
    bottom: 0;
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(14 165 233 / var(--tw-bg-opacity));
}

.active-link {
    display: flex;
    height: 1.5rem;
    align-items: center;
    justify-content: center
}

.dark .active-link:hover {
    --tw-text-opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity));

}

.l {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 44px
}

.l label {
    display: block;
    height: 1.5rem;
    cursor: pointer;
    overflow: hidden;
    border-radius: 9999px
}

.l label>span:first-child {
    position: absolute;
    display: block;
    border-radius: 9999px;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    right: 50%;
    transition: all .15s ease-out
}

.l input[type=checkbox]:checked+label {
    --tw-bg-opacity: 1;
    background-color: rgb(14 165 233 / var(--tw-bg-opacity))
}

.l input[type=checkbox]:checked+label>span:first-child {
    left: 22px
}

.l input[type=checkbox]:disabled+label {
    cursor: not-allowed;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 249 / var(--tw-bg-opacity))
}

.l input[type=checkbox]:disabled+label>span:first-child {
    --tw-bg-opacity: 1;
    background-color: rgb(148 163 184 / var(--tw-bg-opacity))
}

.i:focus:focus,
.s:focus:focus,
.u:focus:focus,
.a:focus:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(186 230 253 / var(--tw-ring-opacity))
}

.dark .i:focus:focus,
.dark .s:focus:focus,
.dark .u:focus:focus,
.dark .a:focus:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.r:focus:focus,
.o:focus:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.c svg>:first-child,
.c svg>:nth-child(2),
.c svg>:nth-child(3) {
    transform-origin: center;
    transform: rotate(0)
}

.c svg>:first-child {
    transition: y .1s .25s ease-in, transform .22s cubic-bezier(.55, .055, .675, .19), opacity .1s ease-in
}

.c svg>:nth-child(2) {
    transition: transform .22s cubic-bezier(.55, .055, .675, .19)
}

.c svg>:nth-child(3) {
    transition: y .1s .25s ease-in, transform .22s cubic-bezier(.55, .055, .675, .19), width .1s .25s ease-in
}

.c.h svg>:first-child {
    opacity: 0;
    y: 11;
    transform: rotate(225deg);
    transition: y .1s ease-out, transform .22s .12s cubic-bezier(.215, .61, .355, 1), opacity .1s .12s ease-out
}

.c.h svg>:nth-child(2) {
    transform: rotate(225deg);
    transition: transform .22s .12s cubic-bezier(.215, .61, .355, 1)
}

.c.h svg>:nth-child(3) {
    y: 11;
    transform: rotate(135deg);
    transition: y .1s ease-out, transform .22s .12s cubic-bezier(.215, .61, .355, 1), width .1s ease-out
}

.p {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0
}

.d {
    visibility: visible
}

.v {
    position: absolute
}

.m {
    position: relative
}

.g {
    position: -webkit-sticky;
    position: sticky
}

.y {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.b {
    top: 0
}

.w {
    right: auto
}

.x {
    left: 0
}

.k {
    margin-left: auto;
    margin-right: auto
}

._ {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.j {
    margin-left: .75rem;
    margin-right: .75rem
}

.q {
    margin-top: -.5rem;
    margin-bottom: -.5rem
}

.z {
    margin-left: .75rem
}

.te {
    margin-bottom: 1.25rem
}

.tt {
    margin-bottom: .25rem
}

.tn {
    margin-left: 28px
}

.tr {
    margin-left: -.125rem
}

.ti {
    margin-left: 0
}

.ts {
    margin-bottom: 2rem
}

.to {
    margin-bottom: .5rem
}

.tu {
    margin-bottom: 1rem
}

.ta {
    margin-bottom: .75rem
}

.tf {
    margin-bottom: -1px
}

.tl {
    margin-right: 1.5rem
}

.tc {
    margin-right: .5rem
}

.th {
    margin-right: .75rem
}

.tp {
    margin-top: .375rem
}

.td {
    margin-top: .25rem
}

.tv {
    margin-top: .75rem
}

.tm {
    margin-top: 1.25rem
}

.tg {
    margin-top: .5rem
}

.ty {
    margin-top: 1rem
}

.tb {
    margin-top: 2rem
}

.tw {
    margin-left: .5rem
}

.tx {
    margin-top: 0
}

.tk {
    box-sizing: content-box
}

.t_ {
    display: block
}

.tj {
    display: inline
}

.tq {
    display: flex
}

.tz {
    display: inline-flex
}

.ne {
    display: grid
}

.nt {
    display: none
}

.nn {
    aspect-ratio: 16/9
}

.nr {
    height: 100vh
}

.ni {
    height: 100%
}

.ns {
    height: 1.5rem
}

.no {
    height: 4rem
}

.nu {
    height: 1rem
}

.na {
    height: 3.5rem
}

.nf {
    height: 2rem
}

.nl {
    height: 2.5rem
}

.nc {
    height: .75rem
}

.nh {
    height: 6rem
}

.np {
    min-height: 100vh
}

.nd {
    width: 4rem
}

.nv {
    width: 100%
}

.nm {
    width: 1rem
}

.ng {
    width: 1px
}

.ny {
    width: 3.5rem
}

.nb {
    width: 2rem
}

.nw {
    width: 3rem
}

.nx {
    width: 2.5rem
}

.nk {
    width: .75rem
}

.n_ {
    max-width: 80rem
}

.nj {
    max-width: 1072px
}

.nq {
    max-width: 276px
}

.nz {
    max-width: 700px
}

.re {
    max-width: 20rem
}

.rt {
    max-width: 36rem
}

.rn {
    max-width: 28rem
}

.rr {
    max-width: 56rem
}

.ri {
    flex: 1 1 0%
}

.rs {
    flex-shrink: 0
}

.ro {
    flex-grow: 1
}

.ru {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.ra {
    --tw-translate-y: 0.75rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rf {
    --tw-rotate: 3deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rl {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rc {
    cursor: pointer
}

.rh {
    list-style-position: inside
}

.rp {
    list-style-type: disc
}

.rd {
    grid-template-columns: repeat(1, minmax(0, 1fr))
}

.rv {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.rm {
    flex-direction: column
}

.rg {
    flex-wrap: wrap
}

.ry {
    align-items: flex-start
}

.rb {
    align-items: flex-end
}

.rw {
    align-items: center
}

.rx {
    justify-content: flex-end
}

.rk {
    justify-content: center
}

.r_ {
    justify-content: space-between
}

.rj {
    gap: 1.25rem
}

.rq {
    gap: 1.5rem
}

.rz>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse))
}

.ie>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
}

.it>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem * var(--tw-space-y-reverse))
}

.in>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(.25rem * var(--tw-space-y-reverse))
}

.ir>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse))
}

.ii>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(-.75rem * var(--tw-space-x-reverse));
    margin-left: calc(-.75rem * calc(1 - var(--tw-space-x-reverse)))
}

.is>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(.75rem * var(--tw-space-x-reverse));
    margin-left: calc(.75rem * calc(1 - var(--tw-space-x-reverse)))
}

.io>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(.5rem * var(--tw-space-x-reverse));
    margin-left: calc(.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.iu>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2.5rem * var(--tw-space-y-reverse))
}

.ia>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(.5rem * var(--tw-space-y-reverse))
}

.if>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(.75rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(.75rem * var(--tw-space-y-reverse))
}

.il>:not([hidden])~:not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px * var(--tw-divide-y-reverse))
}

.ic {
    align-self: flex-start
}

.ih {
    overflow: hidden
}

.ip {
    overflow-x: auto
}

.id {
    overflow-y: auto
}

.iv {
    border-radius: 9999px
}

.im {
    border-radius: .5rem
}

.ig {
    border-radius: .25rem
}

.iy {
    border-radius: .375rem
}

.ib {
    border-width: 1px
}

.iw {
    border-width: 2px
}

.ix {
    border-width: 0
}

.ik {
    border-right-width: 1px
}

.i_ {
    border-top-width: 1px
}

.ij {
    border-bottom-width: 1px
}

.iq {
    border-bottom-width: 2px
}

.iz {
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240 / var(--tw-border-opacity))
}

.se {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity))
}

.st {
    --tw-border-opacity: 1;
    border-color: rgb(241 245 249 / var(--tw-border-opacity))
}

.sn {
    --tw-border-opacity: 1;
    border-color: rgb(14 165 233 / var(--tw-border-opacity))
}

.sr {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.si {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.ss {
    border-color: transparent
}

.so {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.su {
    --tw-bg-opacity: 1;
    background-color: rgb(14 165 233 / var(--tw-bg-opacity))
}

.sa {
    --tw-bg-opacity: 1;
    background-color: rgb(226 232 240 / var(--tw-bg-opacity))
}

.sf {
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59 / var(--tw-bg-opacity))
}

.sl {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.sc {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.sh {
    background-image: linear-gradient(to top right, var(--tw-gradient-stops))
}

.sp {
    --tw-gradient-from: #1e293b;
    --tw-gradient-to: rgb(30 41 59 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.sd {
    --tw-gradient-to: #334155
}

.sv {
    fill: currentColor
}

.sm {
    fill: #94a3b8
}

.sg {
    fill: #cbd5e1
}

.sy {
    fill: #64748b
}

.sb {
    fill: #1e293b
}

.sw {
    fill: #fff
}

.sx {
    fill: #0ea5e9
}

.sk {
    -o-object-fit: cover;
    object-fit: cover
}

.s_ {
    padding: .5rem
}

.sj {
    padding: 1.25rem
}

.sq {
    padding: 1rem
}

.sz {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.oe {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.ot {
    padding-top: .25rem;
    padding-bottom: .25rem
}

.on {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.or {
    padding-left: .75rem;
    padding-right: .75rem
}

.oi {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.os {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}

.oo {
    padding-top: 3rem;
    padding-bottom: 3rem
}

.ou {
    padding-left: .125rem;
    padding-right: .125rem
}

.oa {
    padding-left: 0;
    padding-right: 0
}

.of {
    padding-left: 2.5rem
}

.ol {
    padding-top: 3rem
}

.oc {
    padding-bottom: 4rem
}

.oh {
    padding-left: 5rem
}

.op {
    padding-top: 2rem
}

.od {
    padding-bottom: 2.5rem
}

.ov {
    text-align: center
}

.om {
    font-family: Inter, sans-serif
}

.og {
    font-family: Aspekta, sans-serif
}

.oy {
    font-family: PT Mono, monospace
}

.ob {
    font-size: .875rem;
    line-height: 1.5715
}

.ow {
    font-size: .75rem;
    line-height: 1.5
}

.ox {
    font-size: 1.125rem;
    line-height: 1.5;
    letter-spacing: -.01em
}

.ok {
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: -.01em
}

.o_ {
    font-size: 2.25rem;
    line-height: 1.277;
    letter-spacing: -.01em
}

.oj {
    font-size: 1.5rem;
    line-height: 1.415;
    letter-spacing: -.01em
}

.oq {
    font-weight: 500
}

.oz {
    font-weight: 650
}

.ue {
    font-weight: 700
}

.ut {
    text-transform: uppercase
}

.un {
    font-style: italic
}

.ur {
    line-height: 1.25
}

.ui {
    letter-spacing: -.01em
}

.us {
    --tw-text-opacity: 1;
    color: rgb(30 41 59 / var(--tw-text-opacity))
}

.uo {
    --tw-text-opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity))
}

.uu {
    --tw-text-opacity: 1;
    color: rgb(14 165 233 / var(--tw-text-opacity))
}

.ua {
    --tw-text-opacity: 1;
    color: rgb(241 245 249 / var(--tw-text-opacity))
}

.uf {
    --tw-text-opacity: 1;
    color: rgb(100 116 139 / var(--tw-text-opacity))
}

.ul {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.uc {
    --tw-text-opacity: 1;
    color: rgb(125 211 252 / var(--tw-text-opacity))
}

.uh {
    --tw-text-opacity: 1;
    color: rgb(232 121 249 / var(--tw-text-opacity))
}

.up {
    --tw-text-opacity: 1;
    color: rgb(52 211 153 / var(--tw-text-opacity))
}

.ud {
    --tw-text-opacity: 1;
    color: rgb(244 114 182 / var(--tw-text-opacity))
}

.uv {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity))
}

.um {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity))
}

.ug {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity))
}

.uy {
    --tw-text-opacity: 1;
    color: rgb(79 70 229 / var(--tw-text-opacity))
}

.ub {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity))
}

.uw {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity))
}

.ux {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline
}

.uk {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.u_ {
    opacity: .4
}

.uj {
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.uq {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.uz {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.ae {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.at {
    transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}

.an {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}

.ar {
    transition-duration: 150ms
}

.ai {
    transition-duration: .7s
}

.as {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.ao {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1)
}

[x-cloak=""] {
    display: none
}

.au::before {
    content: var(--tw-content);
    position: absolute
}

.aa::before {
    content: var(--tw-content);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.af::before {
    content: var(--tw-content);
    z-index: -10
}

.al::before {
    content: var(--tw-content);
    margin-top: auto
}

.ac::before {
    content: var(--tw-content);
    display: block
}

.ah::before {
    content: var(--tw-content);
    flex: 1 1 0%
}

.ap::before {
    content: var(--tw-content);
    transform-origin: center
}

.ad::before {
    content: var(--tw-content);
    --tw-translate-y: 25%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.av::before {
    content: var(--tw-content);
    --tw-rotate: -2deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.am::before {
    content: var(--tw-content);
    --tw-scale-x: 0;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.ag::before {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(186 230 253 / var(--tw-bg-opacity))
}

.ay::before {
    content: var(--tw-content);
    opacity: .3
}

.ab::before {
    content: var(--tw-content);
    transition-duration: 150ms
}

.aw::before {
    content: var(--tw-content);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.ax::after {
    content: var(--tw-content);
    position: absolute
}

.ak::after {
    content: var(--tw-content);
    right: 0
}

.a_::after {
    content: var(--tw-content);
    top: 0
}

.aj::after {
    content: var(--tw-content);
    bottom: 0
}

.aq::after {
    content: var(--tw-content);
    margin-top: auto
}

.az::after {
    content: var(--tw-content);
    width: .125rem
}

.fe::after {
    content: var(--tw-content);
    width: 0
}

.ft::after {
    content: var(--tw-content);
    flex: 1 1 0%
}

.fn::after {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(14 165 233 / var(--tw-bg-opacity))
}

.fr:nth-child(odd) {
    --tw-rotate: 1deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.fi:nth-child(odd) {
    --tw-rotate: -1deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.fs:nth-child(2n) {
    --tw-rotate: -1deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.fo:nth-child(2n) {
    --tw-rotate: 1deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.fu:hover {
    --tw-rotate: 0deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.fa:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(2 132 199 / var(--tw-bg-opacity))
}

.ff:hover {
    --tw-text-opacity: 1;
    color: rgb(100 116 139 / var(--tw-text-opacity))
}

.fl:hover {
    --tw-text-opacity: 1;
    color: rgb(2 132 199 / var(--tw-text-opacity))
}

.fc:hover {
    --tw-text-opacity: 1;
    color: rgb(71 85 105 / var(--tw-text-opacity))
}

.fh:hover {
    --tw-text-opacity: 1;
    color: rgb(14 165 233 / var(--tw-text-opacity))
}

.fp:hover {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline
}

.fd:hover {
    transition-duration: .1s
}

.fv:hover::before {
    content: var(--tw-content);
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.fm:focus {
    --tw-border-opacity: 1;
    border-color: rgb(165 180 252 / var(--tw-border-opacity))
}

.fg:focus {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.fy:focus {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.fb:focus {
    --tw-border-opacity: 1;
    border-color: rgb(107 114 128 / var(--tw-border-opacity))
}

.fw:focus {
    border-color: transparent
}

.fx:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.fk:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.f_:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.fj:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.fq:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.fz:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(199 210 254 / var(--tw-ring-opacity))
}

.le:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(0 0 0 / var(--tw-ring-opacity))
}

.lt:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(107 114 128 / var(--tw-ring-opacity))
}

.ln:focus {
    --tw-ring-opacity: 0.5
}

.lr:focus {
    --tw-ring-offset-width: 0px
}

.li:focus {
    --tw-ring-offset-width: 2px
}

.ls:hover .lo {
    --tw-translate-x: 0.5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.dark .lu {
    display: block
}

.dark .la {
    display: none
}

.dark .lf {
    --tw-border-opacity: 1;
    border-color: rgb(30 41 59 / var(--tw-border-opacity))
}

.dark .ll {
    --tw-border-opacity: 1;
    border-color: rgb(51 65 85 / var(--tw-border-opacity))
}

.dark .lc {
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity))
}

.dark .lh {
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59 / var(--tw-bg-opacity))
}

.dark .lp {
    background-image: linear-gradient(to top, var(--tw-gradient-stops))
}

.dark .ld {
    --tw-gradient-from: #1e293b;
    --tw-gradient-to: rgb(30 41 59 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.dark .lv {
    --tw-gradient-to: rgb(30 41 59 / 0.3)
}

.dark .lm {
    fill: #f1f5f9
}

.dark .lg {
    --tw-text-opacity: 1;
    color: rgb(226 232 240 / var(--tw-text-opacity))
}

.dark .ly {
    --tw-text-opacity: 1;
    color: rgb(100 116 139 / var(--tw-text-opacity))
}

.dark .lb {
    --tw-text-opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity))
}

.dark .lw {
    --tw-text-opacity: 1;
    color: rgb(241 245 249 / var(--tw-text-opacity))
}

.dark .lx {
    --tw-text-opacity: 1;
    color: rgb(71 85 105 / var(--tw-text-opacity))
}

.dark .lk::before {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(14 165 233 / var(--tw-bg-opacity))
}

.dark .l_:hover {
    --tw-text-opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity))
}

.dark .lj:hover {
    --tw-text-opacity: 1;
    color: rgb(203 213 225 / var(--tw-text-opacity))
}

.dark .lq:hover {
    --tw-text-opacity: 1;
    color: rgb(14 165 233 / var(--tw-text-opacity))
}

@media (min-width:640px) {
    .lz {
        height: 88px
    }

    .ce {
        width: 88px
    }

    .ct {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}

@media (min-width:768px) {
    .cn {
        order: 1
    }

    .cr {
        margin-left: 0;
        margin-right: 0
    }

    .ci {
        margin-left: 1rem
    }

    .cs {
        margin-bottom: 0
    }

    .co {
        margin-right: .5rem
    }

    .cu {
        display: flex
    }

    .ca {
        width: 6rem
    }

    .cf {
        width: 240px
    }

    .cl {
        max-width: 28rem
    }

    .cc {
        max-width: 56rem
    }

    .ch {
        grid-template-columns: repeat(1, minmax(0, 1fr))
    }

    .cp {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }

    .cd {
        flex-direction: row
    }

    .cv {
        align-items: center
    }

    .cm {
        justify-content: space-between
    }

    .cg>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0px * var(--tw-space-y-reverse))
    }

    .cy>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(2rem * var(--tw-space-x-reverse));
        margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)))
    }

    .cb {
        padding-top: 4rem
    }

    .cw {
        padding-bottom: 5rem
    }
}

@media (min-width:1024px) {
    .cx {
        display: flex
    }

    .ck {
        width: 300px
    }

    .c_ {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}